<nav class="navbar navbar-expand-md bg-custom navbar-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-house-circle-check"></i> StayHub
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Center Search -->
      <form class="search-form mx-auto d-flex">
  <input 
    class="form-control search-input" 
    type="search" 
    placeholder="Search stays..."
  >
  <button class="search-btn" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>

      <!-- Right -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings/new">Add New Stay</a>

        <% if(!currentUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>

    </div>
  </div>
</nav>