<% layout("/layouts/boilerplate")%>
<body>

<div class="form-container">

  <h3 class="form-heading">Create New Listing</h3>

  <form method="POST" action="/listings">

    <div class="form-group">
      <input name="listing[title]" placeholder="Enter title" type="text" required>
    </div>

    <div class="form-group">
      <textarea name="listing[description]" placeholder="Enter description" required></textarea>
    </div>

    <div class="form-group">
      <input name="listing[image]" placeholder="Enter image URL" type="text">
    </div>

    <div class="form-group">
      <input name="listing[price]" placeholder="Enter price" type="number" required>
    </div>

    <div class="form-group">
      <input name="listing[location]" placeholder="Enter location" type="text" required>
    </div>

    <div class="form-group">
      <input name="listing[country]" placeholder="Enter country" type="text" required>
    </div>

    <button class="btn-submit">Add Listing</button>

  </form>

</div>

</body>